.contact {
  margin-left: auto;
  // display: flex;
  display: none;
  padding-left: 0;

  &__list {
    margin-right: 50px;
    // display: flex;
    display: none;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    // display: flex;
    display: none;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    color: $title-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $accent-color;
    }
  }

  &__icon {
    margin-right: 10px;
    --color4: currentColor;
  }
}

