.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  max-width: 480px;
  height: 400px;
  margin: 0 auto;

  &__text {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      color: $white-color;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      width: 360px;
      margin: 0 auto 30px;
    }
  
    &__button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      align-items: center;
      text-align: center;
      color: $white-color;
      cursor: pointer;
      background-color: $accent-color;
      letter-spacing: 0.06em;
      border-radius: 4px;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      padding: 8px 32px;
      border: none;
    }
  }
    
@media screen and (min-width: 480px) {
  .hero {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }
  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 700px;
  }
}



/*.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: $white-color;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 700px;
    margin: 0 auto 30px;
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    color: $white-color;
    cursor: pointer;
    background-color: $accent-color;
    letter-spacing: 0.06em;
    border-radius: 4px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    padding: 8px 32px;
    border: none;
  }
}*/