.logo {
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-wrap: initial;
  }

  &__list {
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: initial;
      width: initial;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:last-child(-n+2) {
      margin-bottom: 0;
      @media screen and (min-width: 1200px) {
        margin-bottom: initial;
      }
    }
  
    &:last-child {
      @media screen and (min-width: 1200px) {
        margin-right: 0;
      }
    }
  }  
  
  &__link {
    color: $social-color;
    height: 92px;
    border: 1px solid $social-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }

    & >svg {
      --color1: currentColor;
    }
  }
}